body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  margin: 48px 0 0; /* Height of navbar */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */

  overflow-x: auto;
}

.right-sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  right: 0;
  z-index: 99; /* Behind the navbar */
  margin: 48px 0 0; /* Height of navbar */
}

@media (max-width: 767.98px) {
  .sidebar {
    /* top: 5em; */
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: auto;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
















/* Table */
table thead {
  /* background-color: #f2f4f6; */
  color: #202937;
  padding-top: 18px;
  padding-bottom: 18px;
}

table th {
  padding-top: 18px;
  padding-bottom: 18px;
  /* background-color: #000000; */
}

/* Liness table. */
table th:first-child {
  border-radius:10px 0px 0px 10px;
}

table th:last-child {
  border-radius:0 10px 10px 0;
}

/* Table with separated line. */
.line-table th:first-child {
  border-radius:10px 0px 0px 0px;
}

.line-table th:last-child {
  border-radius:0px 10px 0px 0px;
}














body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  /* display: flex; */
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  /* max-height: 100vh; */ /* MARK: - help hide navbar when scroll to bottom */
  /* overflow-x: auto; */
  /* overflow-y: hidden; */
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }














/* 3. ScrollSpy active styles (see JS tab for activation) */
.section-nav li.active > a {
	color: #333;
	font-weight: 500;
}

/* Sidebar Navigation */
.section-nav {
	padding-left: 0;
	border-left: 1px solid #efefef;
}

.section-nav a {
	text-decoration: none;
	display: block;
	padding: .125rem 0;
	color: #ccc;
	transition: all 50ms ease-in-out; /* 💡 This small transition makes setting of the active state smooth */
}

.section-nav a:hover,
.section-nav a:focus {
	color: #666;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ul, ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	margin-left: 1rem;
}

/* h3 {
  height: 300px;
}
h2 {
  height: 200px;
} */




















/* .toc {
  padding: 1em;
  width: 14em;
  line-height: 2;
} */
.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.toc ul ul {
  padding-left: 2em;
}
.toc li a {
  display: inline-block;
  color: #aaa;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}
.toc li.visible > a {
  color: #111;
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.toc-marker path {
  transition: all 0.3s ease;
}

.contents {
  padding: 1em;
  /* max-width: 800px; */
  font-size: 1.2em;
  font-family: "Frank Ruhl Libre", sans-serif;
}
.contents img {
  max-width: 100%;
}
.contents .code-block {
  white-space: pre;
  overflow: auto;
  max-width: 100%;
}
.contents .code-block code {
  display: block;
  background-color: #f9f9f9;
  padding: 10px;
}
.contents .code-inline {
  background-color: #f9f9f9;
  padding: 4px;
}
.contents h1,
.contents h2 {
  padding-top: 75px;
  padding-bottom: 10px;
  /* margin-bottom: 50px; */
}

.contents p {
  margin-top: 20px;
}

























table,th,td
{
  border:2px solid white;
}
.markdown-body .highlight pre, .markdown-body pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: red;
    border-radius: 6px;
    margin-bottom: 0;
    word-break: normal;
}
.markdown-body blockquote, .markdown-body details, .markdown-body dl, .markdown-body ol, .markdown-body p, .markdown-body pre, .markdown-body table, .markdown-body ul {
     margin-top: 0;
}
code, pre, tt {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}

pre {
    background-color: #161b22;
    border-radius: 6px;
    padding: 20px 20px 20px 20px;
    overflow: scroll;
}
code {
    background-color: #171b21;
    border-radius: 6px;
    padding: 0px 8px 0px 8px;
}
.maindiv {
    padding: 25px;
    border-radius: 6px;
    border: 1px solid #30363d;
    overflow: visible;
}

blockquote {
    border-left: 4px solid #3d434a;
    margin: 0px;
    padding: 1px;
    padding-left: 16px;
}

h1 {
border-bottom: 1px solid #21262d;
/* padding-bottom: 10px; */
/* margin-bottom: 10px; */
/* margin-top: 30px; */
}
ul, ol {
margin-left: 40px;
}